body {
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
}

.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  background: transparent;
  overflow-y: hidden;
  transition: 0.5s;
  background-color: rgba(0, 0, 0, 0.4);
}

.overlay-content {
  position: relative;
  width: 55%;
  height: 50%;
  text-align: center;
  margin: auto;
  margin-top: 30px;
  padding-top: 25px;
  overflow-y: scroll;
  background-color: #fefefe;
  border: 1px solid #888;
}

.overlay a {
  padding: 5px;
  text-decoration: none !important;
  font-size: 14px;
  color: #212121;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  float: right;
  font-size: 38px;
  right: 68px;
}

@media screen and (max-height: 450px) {
  .overlay {
    overflow-y: auto;
  }
  .overlay a {
    font-size: 12px
  }
}